# Symfony

/vendor/
/var/

/public/browser/

.env.local
.env.dev
.env.dev.local
.env.*.local

.phpunit.result.cache
/.symfony.local.yaml

# Angular
/angular/dist
/angular/tmp
/angular/dist/
/angular/node_modules
/angular/.angular/

# IDEs and editors
.idea/
.vscode/*
!.vscode/settings.json
!.vscode/tasks.json
!.vscode/launch.json
!.vscode/extensions.json

# System files

.DS_Store
Thumbs.db

###> lexik/jwt-authentication-bundle ###
/config/jwt/*.pem
###< lexik/jwt-authentication-bundle ###
