# Symfony

/vendor/
/var/cache/
/var/log/
/var/sessions/

.env.local
.env.*.local

.phpunit.result.cache
/.symfony.local.yaml

# Angular

/angular/dist
/angular/tmp
/angular/out-tsc
/angular/bazel-out

/angular/node_modules
/angular/npm-debug.log
/angular/yarn-error.log

/angular/.angular/cache
/angular/.sass-cache
/angular/connect.lock
/angular/coverage
/angular/libpeerconnection.log
/angular/testem.log
/angular/typings
/angular/__screenshots__/

# IDEs and editors

.idea/
.project
.classpath
.c9/
*.launch
.settings/
*.sublime-workspace

.vscode/*
!.vscode/settings.json
!.vscode/tasks.json
!.vscode/launch.json
!.vscode/extensions.json
!.vscode/mcp.json

.history/*

# System files

.DS_Store
Thumbs.db