<app-not-found
  [visible]="!food.id"
  notFoundMessage="This item is not available anymore or has been removed!"
  resetLinkText="Back to Overview" />
@if(food.id){
<div class="container">
  <img [ngSrc]="food.imageUrl"
       [alt]="food.name"
       width="1200"
       height="860"
       priority />
  <div class="details">
    <div class="header">
      <span class="name">
        {{food.name}}
      </span>
      <span class="favorite {{food.favorite? '': 'not'}}">❤</span>
    </div>
    <div class="rating">
      <app-star-rating [rating]="food.stars"></app-star-rating>
    </div>
    <div class="origins">
      @for (origin of food.origins; track origin){
        <span>{{ origin }}</span>
      }
    </div>
    <div class="description">
      <p>{{food.description}}</p>
    </div>
    <div class="tags">
      @for(tag of food.tags; track tag){
        <a routerLink="/tag/{{tag}}">
          {{ tag }}
        </a>
      }
    </div>
    <div class="cook-time">
      <span>
        Time to cook about <strong>{{food.cookTime}}</strong> minutes
      </span>
    </div>
    <div class="price">
      <span>{{food.price | currency}}</span>
    </div>
    <button (click)="addToCart()">Add to Cart</button>
  </div>
</div>
}
