header {
  position: relative;
  background: #af1313;
  padding: 0;
  border-bottom: 1px solid white;
}

.container {
  margin: 0 auto;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.search-container {
  flex: 1;
  display: flex;
  justify-content: center;
  padding: 0 2rem;
}

nav ul {
  list-style: none;
  display: flex;
  margin: 0;

  li {
    a,
    button {
      padding: 1em;
      display: inline-block;
      background: transparent;
      border: none;
      color: white;
      font: inherit;
      text-decoration: none;
      cursor: pointer;

      span {
        background: white;
        color: color-mix(in srgb, #af1313 80%, white);
        padding: 0.1rem 0.45rem;
        border-radius: 100rem;
        font-size: 0.9rem;
      }

      &:hover {
        background: color-mix(in srgb, #af1313 60%, white);
        color: white;
      }
    }
  }
}

.menu-container {
  position: relative;

  &:hover {
    .menu {
      display: block;
    }
  }
}

.menu {
  position: absolute;
  z-index: 1;
  background: #af1313;
  display: none;
  border: 1px solid white;

  a {
    width: 100%;
    min-width: 8rem;
  }

  > a:not(:first-child) {
    border-top: 1px solid white;
  }
}

a {
  color: white;

  &.logo {
    font-weight: bold;
    padding: 1em;
    border-right: 1px solid white;
  }
}

nav > ul > li:first-child > :is(a, button) {
  border-left: 1px solid white;
}

nav > ul > li + li > :is(a, button) {
  border-left: 1px solid white;
}
